<% include ../partials/header.ejs %>

<section class="hero-wrap js-fullheight">
  <div class="overlay" style="background-image: url(images/bg_2.jpg);"></div>

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <h5 style="position: relative; margin-left: 8%">Your Rank is :</h5><br>
    <% if(data.RankId){ %>
      <% if(data.RankId == 1){ %>
        <input type="image" src="images/S.jpg" width="60" height="60" style="margin-left:11%">
        <% }else if(data.RankId == 2){ %>
        <input type="image" src="images/A.jpg" width="60" height="60" style="margin-left:11%">
        <% }else if(data.RankId == 3){ %>
        <input type="image" src="images/B.jpg" width="60" height="60" style="margin-left:11%">
        <% }else if(data.RankId == 4){ %>
        <input type="image" src="images/C.jpg" width="60" height="60" style="margin-left:11%">
        <% } %>
   <% } %>
   <br>
    <h2 style="">Your Power Level : <%= data.powerLevel %></h2><br>
    <form>
      <%  threat.slice(0,5).map( x =>{ %>
          <% if(x.ThreatId === 1) { %>
            <div class="col-12 "><input type="button" class="btn btn-outline-warning float-right border border-warning" style="width:10%" value="god" onclick="window.location.href='/threat/<%=x.id%>'" ></div><br><br>
          <% }else if(x.ThreatId === 2){ %>
            <div class="col-12 "><input type="button" class="btn btn-outline-dark float-right border border-dark" style="width:10%" value="dragon" onclick="window.location.href='/threat/<%=x.id%>'" ></div><br><br>
          <% }else if(x.ThreatId === 3) { %>
            <div class="col-12 "><input type="button" class="btn btn-outline-danger float-right border border-danger" style="width:10%" value="demon" onclick="window.location.href='/threat/<%=x.id%>'" ></div><br><br>
          <% }else if(x.ThreatId === 4){ %>
            <div class="col-12 "><input type="button" class="btn btn-outline-success float-right border border-success" style="width:10%" value="tiger" onclick="window.location.href='/threat/<%=x.id%>'" ></div><br><br>
         <% }else if(x.ThreatId === 5) { %>
            <div class="col-12 "><input type="button" class="btn btn-outline-primary float-right border border-primary" style="width:10%" value="wolf" onclick="window.location.href='/threat/<%=x.id%>'"  ></div><br><br>
          <% } %>
       <% }) %>
    </form>
  </div>
  <% if(data.powerLevel == null){ %>
    <div style="text-align:center">
        <button type="submit" value="HERO'S TEST" style="position:relative"><a href="/hero/<%= locals.session.id %>/quiz">HERO'S TEST</a></button>
    </div>
  <% }else{ %>
  <% } %>
  </div>
</section>



<% include ../partials/footer.ejs %>