
        <section class="hero-wrap js-fullheight">
        <div id="page-wrap">

                <h1> Hero Quiz </h1>
                
                <form action="/hero/<%= data.id %>" method="post" id="quiz">
                
                    <ol>
                    
                        <%   questions.forEach(x=>{ %>
                            <li>
                                <h3><%= x.question %></h3>
                            <div>

                                <input type="radio" name="<%= x.id%>" id="question-1-answers-A" value="A" />
                                <label for="question-1-answers-A">A)<%= x.Answers[0].answer %></label>
                            </div>
                            
                            <div>
                                <input type="radio" name="<%= x.id%>" id="question-1-answers-B" value="B" />
                                <label for="question-1-answers-B">B) <%= x.Answers[1].answer %></label>
                            </div>
                            
                            <div>
                                <input type="radio" name="<%= x.id%>" id="question-1-answers-C" value="C" />
                                <label for="question-1-answers-C">C) <%= x.Answers[2].answer %></label>
                            </div>
                         <%   }) %>
                            
                        </li>
                    </ol>
                    
                    <input type="submit" value="Submit Quiz" />
                </form>
            </div>
        </section>


