<% include ../partials/header.ejs %>
<section>
    <div >
            <div class="overlay" style="background-image: url(images/bg_2.jpg);" data-stellar-background-ratio="0.5"></div>
        <br>
        <br>
        <br>
        <div class="container" style="background-image: url(https://wallpapercave.com/wp/wp2797697.jpg);" data-stellar-background-ratio="0.5">
            <form action="/hero/<%= data.id %>" method="post" id="quiz">

                <ol>

                    <%   questions.forEach(x=>{ %>
                    <li>
                        
                            <%= x.question %>
                        
                        <div>

                            <input type="radio" name="<%= x.id%>" id="question-1-answers-A" value="A" required="required" />
                            <label for="question-1-answers-A">A)
                                <%= x.Answers[0].answer %></label>
                        </div>

                        <div>
                            <input type="radio" name="<%= x.id%>" id="question-1-answers-B" value="B" required="required" />
                            <label for="question-1-answers-B">B)
                                <%= x.Answers[1].answer %></label>
                        </div>

                        <div>
                            <input type="radio" name="<%= x.id%>" id="question-1-answers-C" value="C" required="required" />
                            <label for="question-1-answers-C">C)
                                <%= x.Answers[2].answer %></label>
                        </div>
                        <%   }) %>

                        <input type="submit" value="Submit Quiz" class="btn btn-sm btn-danger"/>
                    </li>
                </ol>

            </form>

        </div>

    </div>
</section>
<% include ../partials/footer.ejs %>